<svg class={$$props.class} fill="none" xmlns="http://www.w3.org/2000/svg">
	<filter
		id="filter0_bii_1301_4461"
		x="11"
		y="11"
		width="48"
		height="48"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="8.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>

	<filter
		id="filter1_bii_1301_4461"
		x="16"
		y="-7"
		width="38"
		height="38"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feGaussianBlur in="BackgroundImage" stdDeviation="8.5" />
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>

	<filter
		id="filter2_bii_1301_4461"
		x="16"
		y="39"
		width="38"
		height="38"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="8.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter3_bii_1301_4461"
		x="-6"
		y="6"
		width="38"
		height="38"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="8.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter4_bii_1301_4461"
		x="-6"
		y="26"
		width="38"
		height="38"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="8.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter5_bii_1301_4461"
		x="38"
		y="26"
		width="38"
		height="38"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="8.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter6_bii_1301_4461"
		x="38"
		y="6"
		width="38"
		height="38"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="8.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter7_bii_1301_4461"
		x="-7"
		y="6"
		width="32"
		height="32"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="4.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter8_bii_1301_4461"
		x="19"
		y="-9"
		width="32"
		height="32"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="4.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter9_bii_1301_4461"
		x="45"
		y="6"
		width="32"
		height="32"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="4.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter10_bii_1301_4461"
		x="45"
		y="32"
		width="32"
		height="32"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="4.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter11_bii_1301_4461"
		x="19"
		y="47"
		width="32"
		height="32"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="4.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>
	<filter
		id="filter12_bii_1301_4461"
		x="-7"
		y="32"
		width="32"
		height="32"
		filterUnits="userSpaceOnUse"
		color-interpolation-filters="sRGB"
	>
		<feFlood flood-opacity="0" result="BackgroundImageFix" />
		<feGaussianBlur in="BackgroundImage" stdDeviation="4.5" />
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4461" />
		<feBlend
			mode="normal"
			in="SourceGraphic"
			in2="effect1_backgroundBlur_1301_4461"
			result="shape"
		/>
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="2" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
		<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4461" />
		<feColorMatrix
			in="SourceAlpha"
			type="matrix"
			values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
			result="hardAlpha"
		/>
		<feOffset />
		<feGaussianBlur stdDeviation="32" />
		<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
		<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
		<feBlend
			mode="normal"
			in2="effect2_innerShadow_1301_4461"
			result="effect3_innerShadow_1301_4461"
		/>
	</filter>

	<g filter="url(#filter0_bii_1301_4461)">
		<circle cx="35" cy="35" r="7" fill="#28F4AF" />
	</g>
	<g filter="url(#filter1_bii_1301_4461)">
		<circle cx="35" cy="12" r="2" fill="#28F4AF" />
	</g>
	<g filter="url(#filter2_bii_1301_4461)">
		<circle cx="35" cy="58" r="2" fill="#28F4AF" />
	</g>
	<g filter="url(#filter3_bii_1301_4461)">
		<circle cx="13" cy="25" r="2" fill="#28F4AF" />
	</g>
	<g filter="url(#filter4_bii_1301_4461)">
		<circle cx="13" cy="45" r="2" fill="#28F4AF" />
	</g>
	<g filter="url(#filter5_bii_1301_4461)">
		<circle cx="57" cy="45" r="2" fill="#28F4AF" />
	</g>
	<g filter="url(#filter6_bii_1301_4461)">
		<circle cx="57" cy="25" r="2" fill="#28F4AF" />
	</g>
	<g filter="url(#filter7_bii_1301_4461)">
		<circle cx="9" cy="22" r="7" fill="white" fill-opacity="0.1" />
	</g>
	<g filter="url(#filter8_bii_1301_4461)">
		<circle cx="35" cy="7" r="7" fill="white" fill-opacity="0.1" />
	</g>
	<g filter="url(#filter9_bii_1301_4461)">
		<circle cx="61" cy="22" r="7" fill="white" fill-opacity="0.1" />
	</g>
	<g filter="url(#filter10_bii_1301_4461)">
		<circle cx="61" cy="48" r="7" fill="white" fill-opacity="0.1" />
	</g>
	<g filter="url(#filter11_bii_1301_4461)">
		<circle cx="35" cy="63" r="7" fill="white" fill-opacity="0.1" />
	</g>
	<g filter="url(#filter12_bii_1301_4461)">
		<circle cx="9" cy="48" r="7" fill="white" fill-opacity="0.1" />
	</g>
	<defs />
</svg>
