<svg
	class={$$props.class}
	width="24"
	height="24"
	viewBox="0 0 24 24"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<g clip-path="url(#clip0_40_1142)">
		<path
			d="M23.9767 7.05607C23.9205 5.78085 23.7142 4.90416 23.4188 4.14449C23.1141 3.33812 22.6453 2.61617 22.031 2.01602C21.4308 1.40652 20.7041 0.932921 19.9071 0.632936C19.143 0.337529 18.2709 0.131312 16.9957 0.0750879C15.711 0.0141019 15.3031 0 12.0447 0C8.78624 0 8.37839 0.0141019 7.09841 0.0703262C5.8232 0.126551 4.94651 0.332951 4.18702 0.628174C3.38047 0.932922 2.65853 1.40176 2.05837 2.01602C1.44888 2.61617 0.975462 3.34288 0.675294 4.13991C0.379887 4.90416 0.17367 5.77609 0.117446 7.0513C0.0564602 8.33604 0.0423584 8.7439 0.0423584 12.0023C0.0423584 15.2608 0.0564602 15.6686 0.112685 16.9486C0.168909 18.2238 0.375309 19.1005 0.670715 19.8602C0.975462 20.6666 1.44888 21.3885 2.05837 21.9887C2.65853 22.5982 3.38523 23.0718 4.18226 23.3718C4.94651 23.6672 5.81844 23.8734 7.09384 23.9296C8.37363 23.986 8.78166 23.9999 12.0401 23.9999C15.2986 23.9999 15.7064 23.986 16.9864 23.9296C18.2616 23.8734 19.1383 23.6672 19.8978 23.3718C21.5107 22.7482 22.7859 21.4729 23.4095 19.8602C23.7047 19.096 23.9111 18.2238 23.9674 16.9486C24.0236 15.6686 24.0377 15.2608 24.0377 12.0023C24.0377 8.7439 24.0329 8.33604 23.9767 7.05607ZM21.8154 16.8549C21.7638 18.027 21.5669 18.6599 21.4028 19.0819C20.9995 20.1274 20.1697 20.9572 19.1242 21.3605C18.7022 21.5246 18.0647 21.7215 16.8972 21.7729C15.6313 21.8293 15.2517 21.8433 12.0494 21.8433C8.84723 21.8433 8.46282 21.8293 7.20152 21.7729C6.02942 21.7215 5.39649 21.5246 4.97453 21.3605C4.45423 21.1682 3.98062 20.8634 3.59621 20.4649C3.19769 20.0758 2.89295 19.6069 2.70065 19.0866C2.53656 18.6647 2.33968 18.027 2.28822 16.8596C2.23181 15.5937 2.21789 15.2139 2.21789 12.0117C2.21789 8.80946 2.23181 8.42505 2.28822 7.16394C2.33968 5.99183 2.53656 5.3589 2.70065 4.93694C2.89295 4.41645 3.19769 3.94303 3.60097 3.55843C3.98996 3.15992 4.4588 2.85517 4.97929 2.66306C5.40125 2.49896 6.03894 2.30209 7.20628 2.25044C8.47216 2.19422 8.85199 2.18011 12.054 2.18011C15.261 2.18011 15.6407 2.19422 16.902 2.25044C18.0741 2.30209 18.707 2.49896 19.1289 2.66306C19.6493 2.85517 20.1229 3.15992 20.5073 3.55843C20.9058 3.94761 21.2105 4.41645 21.4028 4.93694C21.5669 5.3589 21.7638 5.99641 21.8154 7.16394C21.8717 8.42981 21.8858 8.80946 21.8858 12.0117C21.8858 15.2139 21.8717 15.589 21.8154 16.8549Z"
			fill="currentColor"
		/>
		<path
			d="M12.0445 5.83707C8.64086 5.83707 5.87927 8.59847 5.87927 12.0023C5.87927 15.4062 8.64086 18.1676 12.0445 18.1676C15.4484 18.1676 18.2098 15.4062 18.2098 12.0023C18.2098 8.59847 15.4484 5.83707 12.0445 5.83707ZM12.0445 16.0016C9.8364 16.0016 8.04528 14.2107 8.04528 12.0023C8.04528 9.79402 9.8364 8.00308 12.0445 8.00308C14.2529 8.00308 16.0438 9.79402 16.0438 12.0023C16.0438 14.2107 14.2529 16.0016 12.0445 16.0016Z"
			fill="currentColor"
		/>
		<path
			d="M19.8935 5.5933C19.8935 6.38814 19.249 7.03261 18.454 7.03261C17.6591 7.03261 17.0146 6.38814 17.0146 5.5933C17.0146 4.79828 17.6591 4.15399 18.454 4.15399C19.249 4.15399 19.8935 4.79828 19.8935 5.5933Z"
			fill="currentColor"
		/>
	</g>
	<defs>
		<clipPath id="clip0_40_1142">
			<rect width="24" height="24" fill="currentColor" />
		</clipPath>
	</defs>
</svg>
