<svg
	class={$$props.class}
	width="24"
	height="24"
	viewBox="0 0 24 24"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<rect x="2" y="4" width="20" height="2" fill="currentColor" />
	<rect x="12" y="11" width="10" height="2" fill="currentColor" />
	<rect x="6" y="18" width="16" height="2" fill="currentColor" />
</svg>
