<script lang="ts">
	import cx from 'classnames';
	import Check from '../../../icons/Check.svelte';

	export let isChecked = false;

	$: classNames = cx('flex items-center text-black', $$props.class);
</script>

<div class={classNames}>
	{#if isChecked}
		<Check class="w-[20px] h-[20px] bg-green py-[2px] px-[2px]" />
	{:else}
		<div class="h-[20px] w-[20px] border-[1px] border-white" />
	{/if}

	<p class="font-bold text-small text-white ml-[5px]">
		<slot />
	</p>
</div>
