<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import IntegrateHero from '../lib/components/Hero/IntegrateHero.svelte';
	import IntegrateWhy from '../lib/components/IntegrateWhy/IntegrateWhy.svelte';
	import IntegrateWho from '../lib/components/IntegrateWho/IntegrateWho.svelte';
	import IntegrateDocs from '../lib/components/IntegrateDocs/IntegrateDocs.svelte';
	import Devtools from '../lib/components/Devtools/Devtools.svelte';
	import Integrated from '../lib/components/Integrated/Integrated.svelte';
</script>

<svelte:head>
	<title>Integrate - THORChain</title>
	<meta name="description" content="Use THORChain's native asset settlement layer to support more trade routes and yield in your exchange, wallet, or aggregator. Support the most demanded cross-chain swap routes like Bitcoin, Ethereum, Binance Chain, Avalanche, Cosmos Hub, Bitcoin Cash, Litecoin, and Dogecoin.">
</svelte:head>

<div>
	<IntegrateHero />
	<IntegrateWhy />
	<IntegrateWho />
	<Integrated />
	<IntegrateDocs />
	<Devtools />
</div>
