<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import SwapHero from '../lib/components/Hero/SwapHero.svelte';
	import ThorSwap from '../lib/components/ThorSwap/ThorSwap.svelte';
	import Interfaces from '../lib/components/Interfaces/Interfaces.svelte';
	import Synthetics from '../lib/components/Synthetics/Synthetics.svelte';
	import JoinCommunity from '../lib/components/JoinCommunity/JoinCommunity.svelte';
</script>

<svelte:head>
	<title>Swap - THORChain</title>
	<meta name="description" content="Trade Bitcoin, Ethereum, BNB, USDC, USDC, BUSD, and more. Swap native assets between eight blockchains with THORChain's decentralized infrastructure.">
</svelte:head>

<div>
	<SwapHero />
	<ThorSwap />
	<Interfaces />
	<Synthetics />
	<JoinCommunity />
</div>
