<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Synthetic Assets</SectionHeader>
	<SectionTitle>Trade Synths on THORChain</SectionTitle>
	<SectionDescription>
		In addition to cross-chain swaps, THORChain offers synthetics for the fast, efficient, and cheap
		trading of assets on any supported network.
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/time-is-money.png" alt="tree" />
			<CardTitle>Fast Transactions</CardTitle>
			<CardDescription>
				Synthetics benefit from THORChain’s fast block times and near instant finality. Trade any
				supported asset in seconds.
			</CardDescription>
		</Card>

		<Card>
			<img width="70px" height="70px" src="/images/icons/analysis.png" alt="tree" />
			<CardTitle>Better Prices</CardTitle>
			<CardDescription>Faster and cheaper arbitrage results in better prices for all users on the exchange.</CardDescription>
		</Card>

		<Card>
			<img width="70px" height="70px" src="/images/icons/product.png" alt="tree" />
			<CardTitle>Backed by Liquidity</CardTitle>
			<CardDescription>
				Every synth is backed by liquidity in THORChain's pools to guarantee they are always 1:1 redeemable for the underlying asset (before fees)
			</CardDescription>
		</Card>
	</div>
</Section>
