<script>
    import { onMount } from 'svelte';

    let chains = [ //when a new chain is added, import the name and color here
        { id: 'Bitcoin', color: '#f2a900' },
        { id: 'Ethereum', color: '#716b94' },
        { id: 'BNB-Chain', color: '#F0B90B' },
        { id: 'Avalanche', color: '#E84142' },
        { id: 'Cosmos-Hub', color: '#5064fb' },
        { id: 'Dogecoin', color: '#e1b303' },
        { id: 'Bitcoin-Cash', color: '#0AC18E' },
        { id: 'Litecoin', color: '#345d9d' }
    ];

    let currentChainIndex = 0;

    onMount(() => {
        const interval = setInterval(() => {
            currentChainIndex = (currentChainIndex + 1) % chains.length;
        }, 5000);

        return () => {
            clearInterval(interval);
        };
    });
</script>

<style>
    .chain {
        transition: color 1s ease-in;
    }
</style>

<p class="font-bold text-small lg:text-d-lead text-text-primary">
    THORChain is a settlement layer that facilitates swaps between
    {#each chains as chain, i (chain.id)}
        <span class="chain" style="color: {i === currentChainIndex ? chain.color : 'white'}">
            {chain.id.charAt(0).toUpperCase() + chain.id.slice(1).replace('-', ' ')}{i < chains.length - 1 ? ',' : ''}
        </span>
    {/each}
</p>
