<script lang="ts">
	import Button from '$lib/components/Button/Button.svelte';
	import MetricData from '$lib/components/Metric/MetricData.svelte';
	import MetricTitle from '$lib/components/Metric/MetricTitle.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';
		import SwapEstimator from '$lib/components/SwapEstimator/SwapEstimator.svelte';

	import { formatNumber } from '$lib/services/helpers';
	import { useMetrics } from '$lib/services/queries';
	import ChainText from './ChainText.svelte';

	const metricsQuery = useMetrics();

	$: metrics = $metricsQuery.data;
	$: isLoading = $metricsQuery.isLoading;
</script>


<Section>
	<SectionHeader>What is Thorchain?</SectionHeader>
	<SectionTitle>Decentralized Cross-Chain Infrastructure</SectionTitle>

	<div class="flex items-center flex-col lg:flex-row xl:flex-row justify-center gap-4 mt-[30px] md:mt-[40px]">
		<div class="flex-1 text-center lg:text-left space-y-[20px]">
			<div class="text-center lg:text-left space-y-[20px]">
				<ChainText /> 
				<p class="font-normal text-small lg:text-d-lead text-text-primary">
					THORChain is secured by its native token, RUNE, which deterministically accrues value as
					more assets are deposited into the network.
				</p>

				<p class="font-normal text-small lg:text-d-lead text-text-primary">
					Anyone can use THORChain to swap native assets between any supported chains or deposit their
					assets to earn yield from swaps.
				</p>
			</div>
		</div>

		<div class="flex-1 justify-content-right">
			<SwapEstimator />
		</div>
	</div>
</Section>




