<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import LinkCard from '$lib/components/LinkCard/LinkCard.svelte';
	import Section from '$lib/components/Section/Section.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Interfaces</SectionHeader>
	<SectionTitle>Exchanges Building on THORChain</SectionTitle>
	<SectionDescription>
		Interfaces can permissionlessly integrate with THORChain to unlock decentralised cross-chain
		liquidity.
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<LinkCard
			category="ios | Android | Web"
			title="THORWallet"
			description="Wallet, Swap, Synths, Liquidity, Savers, Aggregator"
			href="https://thorwallet.app.link/4MoUX7GFzmb"
			buttonText="Enter App"
		/>

		<LinkCard
			category="Web"
			title="THORSwap"
			description="Swaps, Synths, Liquidity, Savers, Multisig, Aggregator"
			href="https://app.thorswap.finance/"
			buttonText="Enter App"
		/>

		<LinkCard
			category="Desktop"
			title="Asgardex"
			description="Open source. Wallet, Swaps, Synths, Liquidity"
			href="https://github.com/thorchain/asgardex-electron"
			buttonText="Enter App"
		/>

		<LinkCard
			category="ios | android"
			title="Trust Wallet"
			description="Wallet, Swaps"
			href="https://trustwallet.com/"
			buttonText="Enter App"
		/>

		<LinkCard
			category="ios | android"
			title="Edge Wallet"
			description="Wallet, Swaps, Savers"
			href="https://edge.app/"
			buttonText="Enter App"
		/>

		<LinkCard
			category="web | Browser Extension"
			title="XDEFI Wallet"
			description="Wallet, Swaps, Synths, Savers"
			href="https://www.xdefi.io/"
			buttonText="Enter App"
		/>

		<LinkCard
			category="ios | android | Web"
			title="Shapeshift"
			description="Wallet, Swaps"
			href="https://app.shapeshift.com/"
			buttonText="Enter App"
		/>

		<LinkCard
		category="Web"
		title="Rango"
		description="Swaps, Aggregator"
		href="https://rango.exchange"
		buttonText="Enter App"
	/>

	<LinkCard
	category="Web"
	title="Unizen"
	description="Swaps"
	href="https://zcx.com/trade"
	buttonText="Enter App"
/>

		<LinkCard
			category="Web"
			title="Defispot"
			description="Swaps"
			href="https://defispot.com/"
			buttonText="Enter App"
		/>

		<LinkCard
		category="ios | android | extension"
		title="Ferz Wallet"
		description="Wallet, Swaps, Liquidity, Synths, Savers, Aggregator"
		href="https://app.ferz.com/"
		buttonText="Enter App"
	/>

		<LinkCard
			category="Web"
			title="Decentralfi"
			description="Swaps, Liquidity"
			href="https://decentralfi.io/"
			buttonText="Enter App"
		/>

		<LinkCard
		category="Web"
		title="Lends"
		description="Swaps, Savers"
		href="https://lends.so/"
		buttonText="Enter App"
	/>


	</div>
</Section>
