<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';
	import CardButton from '../Card/CardButton.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Integrations</SectionHeader>
	<SectionTitle>Why Integrate THORChain?</SectionTitle>
	<SectionDescription
		>Make your application multichain by integrating THORChain.</SectionDescription
	>

	<div
		class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/bitcoin2.png" alt="connect" />
			<CardTitle>Swaps Available Nowhere Else</CardTitle>
			<CardDescription>
				THORChain offers unique swap routes previously only available on centralized exchanges. Permissionlessly swap Bitcoin, Ether and dozens of other coins cross-chain. 
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/donate.png" alt="shield" />
			<CardTitle>Collect Affiliate Fees, Earn Rewards</CardTitle>
			<CardDescription>
				Earn fees from cross-chain transactions executed through your website.
				Specify your own affiliate fee and get paid out for every swap.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/blockchain.png" alt="tree" />
			<CardTitle>Simple Integration</CardTitle>
			<CardDescription>
Interacting with THORCHain is as easy as broadcasting a transaction on the Layer 1 blockchain. Send coins to a THORChain vault and your swap is automatically executed.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/bitcoin.png" alt="coin" />
			<CardTitle>Permissionless</CardTitle>
			<CardDescription>
No applications, signups, or API keys. THORChain is as open as the public blockchains it connects. Get started today.
<a href="https://dev.thorchain.org" target="_blank" rel="noopener noreferrer"><CardButton>Get Started</CardButton></a>
			</CardDescription>
		</Card>
	</div>
</Section>
