<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import Gitlab from '../../icons/Gitlab.svelte';
	import Medium from '../../icons/Medium.svelte';
	import Telegram from '../../icons/Telegram.svelte';
	import Twitter from '../../icons/Twitter.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Community</SectionHeader>
	<SectionTitle>Join the community</SectionTitle>
	<SectionDescription>
		Follow THORChain’s social pages for additional information about the network.
	</SectionDescription>

	<div class="flex justify-center space-x-[40px] text-white mt-[40px] md:mt-[60px]">
		<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer">
			<Medium class="w-7 h-7 lg:w-9 lg:h-9" />
		</a>
		<a href="https://t.me/thorchain_org" target="_blank" rel="noopener noreferrer">
			<Telegram class="w-7 h-7 lg:w-9 lg:h-9" />
		</a>
		<a href="https://gitlab.com/thorchain" target="_blank" rel="noopener noreferrer">
			<Gitlab class="w-7 h-7 lg:w-9 lg:h-9" />
		</a>
		<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer">
			<Twitter class="w-7 h-7 lg:w-9 lg:h-9" />
		</a>
	</div>
</Section>
