<script lang="ts">
	export let posterSrc = '';
	export let videoSrc = '';
</script>

<div
	class="absolute lg:hidden w-[280px] h-[280px] sm:w-[510px] sm:h-[510px] left-0 right-0 mx-auto bg-medium-gray"
>
	<video poster={posterSrc} src={videoSrc} autoplay loop muted playsinline>
		<track kind="captions" />
	</video>
</div>
