<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardButton from '../Card/CardButton.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>FEATURES</SectionHeader>
	<SectionTitle>Native Asset Security</SectionTitle>
	<SectionDescription>
		Swap assets without relying on wrapped tokens.
		Provide liquidity and maintain custody.
	</SectionDescription>

	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/safe-box.png" alt="connect" />
			<CardTitle>Native Assets</CardTitle>
			<CardDescription>
				THORChain allows native cross-chain swaps without wrapped or pegged assets. Users don’t
				need RUNE to pay for transactions. The only requirement is a transaction on the first chain.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/key.png" alt="tree" />
			<CardTitle>Non-Custodial</CardTitle>
			<CardDescription>
				Swappers always maintain self-custody of their funds, so they are always in control,
				including directly from a hardware wallet. Liquidity providers funds are always solvent,
				visible, and verifiable on the blockchain - secured by the open source code.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/bitcoin.png" alt="shield" />
			<CardTitle>Single Asset Liquidity</CardTitle>
			<CardDescription>
				Savers Vaults allow anyone to provide liquidity to THORChain and earn from swap fees without exposure to RUNE.
			</CardDescription>
			<a href="https://medium.com/thorchain/thorchain-savers-vaults-fc3f086b4057" target="_blank" rel="noopener noreferrer">
				<CardButton>Learn More</CardButton>
			</a>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/shield.png" alt="coin" />
			<CardTitle>Secured by RUNE</CardTitle>
			<CardDescription>
				Node operators bond RUNE to enter the network. Their bonds are worth more than the assets
				they secure. THORChain’s open source code keeps funds safe.
			</CardDescription>
		</Card>
	</div>
</Section>
