<script lang="ts">
	import 'swiper/css';

	import { Swiper, SwiperSlide } from 'swiper/svelte';

	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';

	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';

	import { devtools } from '$lib/services/constants';

	let innerWidth = 0;
	//$: swipePerView = innerWidth > 1280 ? 3 : 3;

</script>

<Section>
	<SectionHeader>Developer Resources & Guides</SectionHeader>
	<SectionTitle>Developer Resources</SectionTitle>

	<Swiper
		class="absolute right-0 grid grid-cols-3 lg:grid-cols-4 text-white mt-[10px] md:mt-[30px]"
		modules={[Autoplay]}
		slidesPerView={3}
		autoplay
		loop
		speed={3000}
	>
		{#each devtools as devtools}
			<SwiperSlide class="first:pl-0 pl-[30px]">
				<div class="bg-dark-gray hover:bg-medium-gray">
					<a href={devtools.url} target="_blank" rel="noopener noreferrer">
						<img class="w-full aspect-auto" src={devtools.thumbnail} alt={devtools.title} />

						<div class="py-[15px] px-[20px] lg:py-[20px] lg:px-[30px]">
							<h4 class="text-small font-extrabold">
								{devtools.title}
							</h4>

							<a href={devtools.url} class="text-text-teriary lg:text-xsmall text-xxsmall mt-[10px]">
								{new URL(devtools.url).host}
							</a>
						</div>
					</a>
				</div>
			</SwiperSlide>
		{/each}
	</Swiper>
</Section>
